In [4]:
import pandas as pd
import numpy as np
import sqlite3

In [9]:
conn = sqlite3.connect('Corpus/database/dictionary.db')
cursorObj = conn.cursor()

In [33]:
cursorObj.execute('SELECT name from sqlite_master where type= "table"')
cursorObj.fetchall()

[('predlog',),
 ('esimdik',),
 ('sqlite_sequence',),
 ('san_esim',),
 ('usteu',),
 ('zat',),
 ('iya',),
 ('iyi',),
 ('skl3',),
 ('kalyp',),
 ('pril_skl',),
 ('syn',),
 ('predlogi',),
 ('glagol_spr',),
 ('etistik',),
 ('zhalgaular',),
 ('skl1',),
 ('skl2',),
 ('words',)]

In [32]:
df = pd.read_sql_query('SELECT * from syn', conn)
df

        id             kaz              rus
0       id             kaz              rus
1        1          абадан           лучший
2        2        абажадай        громадный
3        3  абалақ-сабалақ         лохматый
4        4          абзалы        наилучший
...    ...             ...              ...
3397  3419        эмоциялы    эмоциональный
3398  3420       эмоциялық    эмоциональный
3399  3421     эстетикалық     эстетический
3400  3422        этикалық        этический
3401  3423   этнографиялық  этнографический

[3402 rows x 3 columns]

In [20]:
df.kaz.drop_duplicates()

0             kaz
1             мен
2            мені
3           маған
4         менімен
5             сен
6            сені
7           саған
8         сенімен
9              ол
10            оны
11           оған
12         оларға
13            біз
14          бізді
15          бізге
16         бізбен
17            сіз
18          сізді
19          сізге
20      сіздермен
21         өзімді
22          өзіме
23        өзіммен
24           олар
25        олардың
27        олармен
28            кім
29          кімді
30          кімге
31         кіммен
32             не
33           нені
34           неге
35          немен
36          ешкім
37        ешкімді
38        ешкімге
39       ешкіммен
40        ешнәрсе
41      ешнәрсені
42      ешнәрсеге
43     ешнәрсемен
44
50          менің
58         біздің
101       әлдекім
144        сендер
Name: kaz, dtype: object